In [12]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [13]:
path=r'C:\Users\User\OneDrive\Belgeler\07-02-24 Instacart Basket Analysis'

In [14]:
path

'C:\\Users\\User\\OneDrive\\Belgeler\\07-02-24 Instacart Basket Analysis'

In [15]:
df_ords=pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'),index_col = False)

In [16]:
df_prods=pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'),index_col = False)

In [17]:
df_ords_prior=pd.read_csv(os.path.join(path, '03 Scripts', 'orders_products_prior.csv'),index_col = False)

In [18]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [19]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49693 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49693 non-null  int64
 1   product_name   49677 non-null  object
 2   aisle_id       49693 non-null  int64
 3   department_id  49693 non-null  int64
 4   prices         49693 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [20]:
df_ords

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,time_of_placing_order,days_since_prior_order
0,0,2539329,1,1,2,8,7.0
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,3421078,2266710,206209,10,5,18,29.0
3421079,3421079,1854736,206209,11,4,10,30.0
3421080,3421080,626363,206209,12,1,12,18.0
3421081,3421081,2977660,206209,13,1,12,7.0
3421082,3421082,272231,206209,14,6,14,30.0

# If you haven’t merged your prepared Instacart orders data with the new orders_products_prior dataframe per the instructions in this Exercise, do so now.

In [21]:
#check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [22]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,time_of_placing_order,days_since_prior_order
0,0,2539329,1,1,2,8,7.0
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [23]:
df_ords_prior.shape

(32434489, 4)

In [24]:
df_ords.shape

(3421083, 7)

In [25]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49693 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49693 non-null  int64
 1   product_name   49677 non-null  object
 2   aisle_id       49693 non-null  int64
 3   department_id  49693 non-null  int64
 4   prices         49693 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [26]:
df_merged_large= df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [27]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,time_of_placing_order,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,7.0,196,1,0,both
1,0,2539329,1,1,2,8,7.0,14084,2,0,both
2,0,2539329,1,1,2,8,7.0,12427,3,0,both
3,0,2539329,1,1,2,8,7.0,26088,4,0,both
4,0,2539329,1,1,2,8,7.0,26405,5,0,both

In [28]:
df_merged_large.shape

(32434489, 11)

In [29]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [31]:
df_merged_large = df_merged_large.drop(columns=['_merge'], errors='ignore')
df_ords_prods_merge = df_merged_large.merge(df_prods, on='product_id', indicator=True)

In [32]:
df_ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434212 entries, 0 to 32434211
Data columns (total 15 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   order_id                int64
 2   user_id                 int64
 3   order_number            int64
 4   orders_day_of_week      int64
 5   time_of_placing_order   int64
 6   days_since_prior_order  float64
 7   product_id              int64
 8   add_to_cart_order       int64
 9   reordered               int64
 10  product_name            object
 11  aisle_id                int64
 12  department_id           int64
 13  prices                  float64
 14  _merge                  category
dtypes: category(1), float64(2), int64(11), object(1)
memory usage: 3.4+ GB

# Export the merged file in pickle format as “orders_products_combined.pkl”.

In [33]:
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))