In [6]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [7]:
path=r'C:\Users\User\OneDrive\Belgeler\07-02-24 Instacart Basket Analysis'

In [8]:
path

'C:\\Users\\User\\OneDrive\\Belgeler\\07-02-24 Instacart Basket Analysis'

In [9]:
df_ords_prods_merge=pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [10]:
df_ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434212 entries, 0 to 32434211
Data columns (total 15 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   order_id                int64
 2   user_id                 int64
 3   order_number            int64
 4   orders_day_of_week      int64
 5   time_of_placing_order   int64
 6   days_since_prior_order  float64
 7   product_id              int64
 8   add_to_cart_order       int64
 9   reordered               int64
 10  product_name            object
 11  aisle_id                int64
 12  department_id           int64
 13  prices                  float64
 14  _merge                  category
dtypes: category(1), float64(2), int64(11), object(1)
memory usage: 3.4+ GB

# complete the instructions in the Exercise for creating the “price_label” and “busiest_day” columns.

# Exercise for creating the “price_label” column

In [12]:
df_ords_prods_merge.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,time_of_placing_order,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0,both
1,1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [13]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [14]:
df_ords_prods_merge.loc[(df_ords_prods_merge['prices'] <= 15) & (df_ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [15]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [16]:
df_ords_prods_merge['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid-range product     21890146
Low-range product     10126384
High-range product      417682
Name: count, dtype: int64

# Exercise for creating the “busiest_day” column

In [17]:
df_ords_prods_merge ['orders_day_of_week'].value_counts(dropna=False)

orders_day_of_week
0    6209632
1    5665830
6    4500246
2    4217766
5    4209449
3    3844096
4    3787193
Name: count, dtype: int64

In [18]:
result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [19]:
df_ords_prods_merge['busiest_day']=result

In [20]:
df_ords_prods_merge['busiest_day'].value_counts(dropna=False)

busiest_day
Regularly busy    22437387
Busiest day        6209632
Least busy         3787193
Name: count, dtype: int64

# Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [21]:
result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value in [0,1]:
    result.append("Busiest days")
  elif value in [4,3]:
    result.append("Two slowest days")
  else:
    result.append("Regularly busy days")

In [22]:
df_ords_prods_merge['busiest_day']=result

In [23]:
df_ords_prods_merge['busiest_day'].value_counts(dropna=False)

busiest_day
Regularly busy days    12927461
Busiest days           11875462
Two slowest days        7631289
Name: count, dtype: int64

# When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [24]:
# Getting the value counts for each hour
df_ords_prods_merge ['time_of_placing_order'].value_counts(dropna=False)

time_of_placing_order
10    2764390
11    2738585
14    2691563
15    2664522
13    2663272
12    2620800
16    2537469
9     2456661
17    2089452
8     1719952
18    1637922
19    1259382
20     977017
7      891928
21     796362
22     634737
23     402612
6      290770
0      218942
1      115786
5       88057
2       69431
4       53283
3       51317
Name: count, dtype: int64

In [25]:
# dividing the hours of the day into 3 sections starting with the most orders

In [26]:
result = []

for value in df_ords_prods_merge['time_of_placing_order']:
  if value == 10 or value == 11 or value == 14 or value == 15 or value == 13 or value == 12 or value == 16 or value == 9:
    result.append('Most orders')
  elif value == 17 or value == 8 or value == 18 or value == 19 or value == 20 or value == 7 or value == 21 or value == 22:
    result.append('Average orders')
  else:
    result.append('Fewest orders')

In [27]:
df_ords_prods_merge['busiest_period_of_day']=result

In [28]:
df_ords_prods_merge['busiest_period_of_day'].value_counts(dropna=False)

busiest_period_of_day
Most orders       21137262
Average orders    10006752
Fewest orders      1290198
Name: count, dtype: int64

In [29]:
df_ords_prods_merge.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,time_of_placing_order,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_period_of_day
0,0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy days,Average orders
1,1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Two slowest days,Average orders
2,2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Two slowest days,Most orders
3,3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Two slowest days,Average orders
4,4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Two slowest days,Most orders

In [30]:
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge1.pkl'))