In [13]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [14]:
path=r'C:\Users\User\OneDrive\Belgeler\07-02-24 Instacart Basket Analysis'

In [15]:
path

'C:\\Users\\User\\OneDrive\\Belgeler\\07-02-24 Instacart Basket Analysis'

#df_ords_prods_merge=pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))

In [16]:
df_merged_large=pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [17]:
df_merged_large.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 11 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   order_id                int64
 2   user_id                 int64
 3   order_number            int64
 4   orders_day_of_week      int64
 5   time_of_placing_order   int64
 6   days_since_prior_order  float64
 7   product_id              int64
 8   add_to_cart_order       int64
 9   reordered               int64
 10  _merge                  category
dtypes: category(1), float64(1), int64(9)
memory usage: 2.4 GB

# complete the instructions in the Exercise for creating the “price_label” and “busiest_day” columns.

# Exercise for creating the “price_label” column

In [20]:
df_ords_prods_merge.head()

NameError: name 'df_ords_prods_merge' is not defined

In [19]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

KeyError: 'prices'

In [7]:
df_ords_prods_merge.loc[(df_ords_prods_merge['prices'] <= 15) & (df_ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [8]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [9]:
df_ords_prods_merge['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid-range product     15097760
Low-range product      6988716
High-range product      288060
Name: count, dtype: int64

# Exercise for creating the “busiest_day” column

In [10]:
df_ords_prods_merge ['orders_day_of_week'].value_counts(dropna=False)

orders_day_of_week
0    4275025
1    3909632
6    3104479
2    2908002
5    2903406
3    2656775
4    2617217
Name: count, dtype: int64

In [11]:
result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [12]:
df_ords_prods_merge['busiest_day']=result

In [13]:
df_ords_prods_merge['busiest_day'].value_counts(dropna=False)

busiest_day
Regularly busy    15482294
Busiest day        4275025
Least busy         2617217
Name: count, dtype: int64

# Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [14]:
result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value in [0,1]:
    result.append("Busiest days")
  elif value in [4,3]:
    result.append("Two slowest days")
  else:
    result.append("Regularly busy days")

In [15]:
df_ords_prods_merge['busiest_day']=result

In [16]:
df_ords_prods_merge['busiest_day'].value_counts(dropna=False)

busiest_day
Regularly busy days    8915887
Busiest days           8184657
Two slowest days       5273992
Name: count, dtype: int64

# When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [17]:
# Getting the value counts for each hour
df_ords_prods_merge ['time_of_placing_order'].value_counts(dropna=False)

time_of_placing_order
10    1904759
11    1885842
14    1855314
13    1838906
15    1833758
12    1807810
16    1747776
9     1693878
17    1436023
8     1187132
18    1131376
19     871934
20     676475
7      616589
21     556200
22     440904
23     278242
6      198976
0      152521
1       79409
5       60862
2       48430
4       36593
3       34827
Name: count, dtype: int64

In [18]:
# dividing the hours of the day into 3 sections starting with the most orders

In [19]:
result = []

for value in df_ords_prods_merge['time_of_placing_order']:
  if value == 10 or value == 11 or value == 14 or value == 15 or value == 13 or value == 12 or value == 16 or value == 9:
    result.append('Most orders')
  elif value == 17 or value == 8 or value == 18 or value == 19 or value == 20 or value == 7 or value == 21 or value == 22:
    result.append('Average orders')
  else:
    result.append('Fewest orders')

In [20]:
df_ords_prods_merge['busiest_period_of_day']=result

In [21]:
df_ords_prods_merge['busiest_period_of_day'].value_counts(dropna=False)

busiest_period_of_day
Most orders       14568043
Average orders     6916633
Fewest orders       889860
Name: count, dtype: int64

In [22]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,time_of_placing_order,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_period_of_day
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy days,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Two slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Two slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Two slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Two slowest days,Most orders

In [23]:
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge1.pkl'))